
        body{
            background-color: #eeeeee;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            
        }
        h2{
            color: #4ecdc4;
        }
        h1{
            color: #bc00dd;
            
        }
        #pepo{
            width: 300px;
            position: absolute;
            left: 970px;
        }
        #habi{
            color:#4ecdc4 ;
        }
        #instalogo{
           width: 30px;
           position: absolute;
           left: 85px;
           top: 989px;
           
          
           
        }
        #githublogo{
            width: 30px;
           position: absolute;
           left: 60px;
           top: 1028px;
        }


    